# data
*.zip
*.csv
*.log


# R files
.Rhistory
*.RData

# LaTeX files
*.aux
#*.log
*.out
*.synctex.gz
*.fdb_latexmk

# plot pdfs
*/src/*/all.pdf
*/src/*/figure/*.pdf

# IntelliJ files
*.iml
.idea

# Python files
*.pyc
